

<section class='existing-users'>
    <p>Existing Users: </p>
    <% if current_user %>
        <% @users.each do |user| %>
            <li><%= user.email %></li>
        <% end %>
    <% end %>
</section>